<a href="https://colab.research.google.com/github/Prithvi-Raj-M/Assignment/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditional Statements

In [ ]:
username = 'Prithvi'
password = '9999'

userpassword = input("Enter The Password:")
if userpassword==password :
  print("Welcome "+ username)
else : 
  print("Password Incorrect")

Nested if

In [ ]:
username = 'Prithvi'
password = "9999"
onetime
 
name=input("Enter Username:")
userPassword=input("Enter Password:")

if name==username :
  if userPassword==password:
    print("Welcome "+username)
  else :
    print("Incorrect Password")
else :
   print("Invalid Username")

Enter Usernamemanish
Enter Password1234
Invalid Username

Assignment 1

In [ ]:
username = 'Prithvi'
password = "9999"
onetimepassword = '3579'
 
name=input("Enter Username:")
userPassword=input("Enter Password:")
otp=input("Enter OTP:")

if name==username :
  if userPassword==password:
    print("Welcome "+username)
    if otp==onetimepassword :
      print("Login Successfull")
    else :
      print("incorrect OTP ")
  else :
    print("Incorrect Password")
else :
   print("Invalid Username")

Enter Usernameprithvi
Enter Password0404
Enter OTP4444
Invalid Username

Assignemt 2

In [ ]:
marks=int(input("Enter Your Marks"))

if marks >= 90 :
  print("Grade A+") 
elif marks >= 80 :
  print("Grade A")
elif marks >= 70:
  print("Grade B+")
elif marks >= 60:
  print("Grade B")
elif marks >= 50:
  print("Grade C+")
elif marks >= 40:
  print("Grade C")
else:
  print("Failed")

Enter Your Marks72
Grade B+

for Loop

In [ ]:
for i in range(12):
   print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
num1 = int(input("Enter a Number")
for i in range(num1,18) :
  print(i)

SyntaxError: ignored

In [ ]:
for num1 in range(20) :
  if num1%2==0 :
    print(num1)

0
2
4
6
8
10
12
14
16
18

List

In [ ]:
students = ["Raman","Raju","Pranav","Sidharth","Sam","Chloe"]
print(students[5])
print(students[-3])
print(students[1:4])

Chloe
Sidharth
['Raju', 'Pranav', 'Sidharth']

In [ ]:
for a in students:
  print("Welcome "+a)

Welcome Raman
Welcome Raju
Welcome Pranav
Welcome Sidharth
Welcome Sam
Welcome Chloe

break Statement

In [ ]:
for a in students:
  print("Welcome"+a) 

  if a== "Sam":
    break

WelcomeRaman
WelcomeRaju
WelcomePranav
WelcomeSidharth
WelcomeSam

Assignment 3

In [ ]:
studentMarks={
    "John" : 97,
    "Samuel" : 85,
    "Aaron" : 67,
    "Peter" : 90,
    "India" : 77,
}
for a in studentMarks:
  if studentMarks[a] < 70:
    print(a)
    print(studentMarks[a]+ "Failed")

Aaron

TypeError: ignored